/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #0160FF;
  --link-hover-color: #869ead;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #FFBE00;
  --text-color: #0E1318;

  /* fonts */
  --body-font-family: 'adobe-clean', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 72px;

  --digit-keys: #505050;
    --operator-keys: #FF9500;
    --background-color: #fff;
    --function-keys: #a2a2a2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.icon svg {
  height: 100%;
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.icon-securbank_logo {
  width: 128px;
  height: 48px;
}

@media (width >= 900px) {
  /* stylelint-disable-next-line selector-class-pattern */
  .icon-securbank_logo {
    width: 100%;
    height: 100%;
  }
  
}


main .section {
  padding: 12px 0;
}

@media (width >= 600px) {
  main .section {
    padding: 18px 0;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1280px;
    margin: auto;
  }
}


/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

.default-content-wrapper h2 {
  text-align: center;
  font-size: 36px;
}


main .columns-container  {
  background-color: #F3F2F6;
} 

.col:first-child {
    order: 2;
}

.calculator {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 290px;
    font-size: 1.3rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 3rem;
}

.main-content main, .main-content section {
    padding: 1rem 0 1rem;
    width: 100%;
}

.main-content header, .main-content section h2 {
    padding-bottom: 1rem;
    width: 100%;
}


.calculator .screen {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 0 0 15px 0;
    font-size: 5.5rem;
    width: 290px;
    height: 150px;
    overflow-x: hidden;
}

.calculator .keyboard {
    width: 290px;
    height: 350px;
}

/* applying background colors */

/* first row */
.keyboard .row:first-child .sub-col:not(:last-child) {
    background-color: var(--function-keys);
    color: var(--background-color);
}

.keyboard .row:first-child .sub-col:last-child {
    background-color: var(--operator-keys);
    color: #ffffff;
}

/* second row, third row, fourth row and fifth row */
.keyboard .row:nth-child(2) .sub-col:not(:last-child), 
.keyboard .row:nth-child(3) .sub-col:not(:last-child), 
.keyboard .row:nth-child(4) .sub-col:not(:last-child), 
.keyboard .row:nth-child(5) .sub-col:not(:last-child) {
    background-color: var(--digit-keys);
    color: #ffffff;
}

.keyboard .row:nth-child(2) .sub-col:last-child, 
.keyboard .row:nth-child(3) .sub-col:last-child, 
.keyboard .row:nth-child(4) .sub-col:last-child, 
.keyboard .row:nth-child(5) .sub-col:last-child {
    background-color: var(--operator-keys);
    color: #ffffff;
}

.selected_operation[data-value='clear'], 
.selected_operation[data-value='%'], 
.selected_operation[data-value='+/-'] {
    animation: background-anim-fn .8s ease-out;
}

.selected_operation[data-value='='] {
    animation: background-anim-equals .8s ease-out;
}

/* Select every operator button except clear, %, +/- and = */
.selected_operation[data-button-type='operator']:not(.selected_operation[data-value='clear']):not(.selected_operation[data-value='%']):not(.selected_operation[data-value='+/-']):not(.selected_operation[data-value='=']) {
    background-color: #d4d4d2;
    color: var(--operator-keys);   
    transition: background-color, color .8s ease-out;
}

@keyframes background-anim-fn { 
    0% { background-color: var(--function-keys); }
    50% { background-color: #fff;  }
    100% { background-color: var(--function-keys); }
}

@keyframes background-anim-equals {
    0% { background-color: var(--operator-keys); }
    50% { background-color: #fff;  }
    100% { background-color: var(--operator-keys); }
}
/* utilities */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col { 
    /* display: flex; */
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 100vh;
}

@media only screen and (min-width: 992px) {
    .col { 
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.sub-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    height: 86%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21%;
    flex: 0 0 21%;
    max-width: 21%;
    border-radius: 50%;
    transition: background-color .8s ease-out;
}

.row:last-child > .sub-col:first-child {
    display: flex;
    justify-content: start;
    padding-left: 25px;
    width: 47%;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
    border-radius: 100px 100px 100px 100px;
    transition: background-color .8s ease-out;
}

.keyboard .row {
    justify-content: space-between;
    height: 20%;
}

/* responsive settings */

@media only screen and (min-width: 992px) {
    .col:first-child {
        order: 0;
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        max-width: 350px;
    }
}

@media only screen and (min-width: 1500px) {
    .main-content {
        font-size: 1.4rem;
        max-width: 450px
    }

    .calculator {
        min-height: calc(500px / .7);
        min-width: calc(290px / .7);
        font-size: 1.7rem;
    }

    .calculator .screen {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        padding: 0 0 15px 0;
        font-size: 7rem;
        width: calc(290px / .7);
        height: calc(150px / .7);
        overflow-x: hidden;
    }
    
    .calculator .keyboard {
        width: calc(290px / .7);
        height: calc(350px / .7);
    }

}
